.navbar {
  width: 100%;
  height: 80px;
  background-color: blue;
  line-height: 80px;
}

.heading {
  font-size: 30px;
  color: antiquewhite;
  display: inline;
  float: left;
  margin-left: 20px;
}

.btn {
  height: 40px;
  position: relative;
  font-size: 20px;
  float: right;
  color: palegoldenrod;
  background-color: orangered;
  border-radius: 10px;
  top: 20px;
  right: 10px;
}

.btn:hover {
  background-color: palegoldenrod;
  color: brown;
}

.addMovie {
  position: fixed;
  visibility: hidden;
  /* width: 650px;
  background-color: rgb(218, 159, 159);
  height: 40%;
  border: rgb(29, 26, 26);
  box-shadow: grey 1px 1px;
  height: 300px;
  left: 750px;
  top: 200px; */
}

.open {
  position: fixed;
  visibility: visible;
  width: 700px;
  background-color: rgb(245, 243, 243);
  height: 35%;
  border: rgb(29, 26, 26) 2px;
  box-shadow: grey 2px 2px 2px 2px;
  height: 300px;
  left: 650px;
  top: 280px;
  border-radius: 5%;
}

.input {
  display: block;
  margin: 5px;
  width: 680px;
  height: 40px;
}

.form {
  font-size: 15px;
  font-weight: bolder;
  display: block;
}

.content {
  position: fixed;
  top: 100px;
  left: 650px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  width: 700px;
  line-height: 120px;
  height: 150px;
  border: 0.5px groove rgb(204, 201, 201);
  box-shadow: 0.5px 4px 6px rgb(182, 179, 179);
  border-radius: 5%;
}

.body {
  opacity: 0.75;
}

.cancel {
  background-color: honeydew;
  color: blue;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 10%;
  font-size: 20px;
}

.add {
  background-color: blue;
  color: white;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 10%;
  font-size: 20px;
}
.btns {
  position: relative;
  margin-top: 30px;
  left: 520px;
}
